<div bb-resources class"bb_wrap">
<h1>Select a Location</h1>

  <div class="bb-list">
    <div class="bb-list-item">
      <div class="bb-item col-xs-12" ng-repeat="item in bookable_resources">
        <div class="box" >
          <div class="box-title col-xs-8">
            <span>{{item.name}}</span>
            <p>{{item.description}} </p>
          </div>
          <div class="list-actions col-xs-4">
            <button type="button" class="bb-btn bb-btn-warn" ng-click="selectItem(item)">Select Location</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>